# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 40e55c4a87d08550df41dd4bb748fac5291ffcaf2feb671dbe8f6413716707e6c2098a74c1a1bc1613fd0cca1f2bfff78085863aaee91f1ee3ec4f1d70ab8e7b

test:
  secret_key_base: 206cd57cbf8d3dbf35e5e1c245b03db9102c0f89ab3c44ec1fab9dfe7d566792555129bcb74b3f11a1bba03ed30cd21ade72b26ebe09b1b904ed6d6fa043d3dc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
